<%#
This is an override of the GeoBlacklight (GBL) _header_navbar.html.erb file.
Blacklight (BL) also has this file, but is overridden by GBL, so we are
overriding based on GBL > BL.

https://github.com/geoblacklight/geoblacklight/blob/main/app/views/shared/_header_navbar.html.erb
%>
<div class="bg-cool-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 py-2">
        <a href="https://lib.arizona.edu/"><%= image_tag("ual_logo.svg", alt: "University of Arizona Libraries | GeoBlacklight Home", width: "250") %></a>
      </div>
    </div>
  </div>
</div>
<div class="bg-blue py-4 mb-5">
  <div class="<%= container_classes %>">
    <div class="row">
      <nav class="navbar navbar-dark navbar-expand-lg w-100" role="navigation">
        <a href="<%= root_path %>" class="h1 text-decoration-none font-weight-normal my-0">Geospatial data repository</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#geospatialNavbar" aria-controls="geospatialNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-icons-sharp"> menu </span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="geospatialNavbar">
          <ul class="navbar-nav mt-3 mt-lg-0">
            <%= render "shared/user_util_links" %>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<%- renderable_fields = blacklight_config.search_fields.values.collect { |field_def| [label_for_search_field(field_def.key), field_def.key] if should_render_field?(field_def)}.compact %>
<% if controller_name == "catalog" && (has_search_parameters? || params[:action] == "show") %>
  <div class="<%= container_classes %> stuff">
    <div class="row mt-3 mb-5">
      <div class="col-12 py-3 bg-gray-200">
        <div class="navbar-search navbar navbar-light bg-faded border-0 justify-content-center" role="navigation">
          <%= render((blacklight_config&.view_config(document_index_view_type)&.search_bar_component ||Blacklight::SearchBarComponent).new(
              url: search_action_url,
              advanced_search_url: search_action_url(action: "advanced_search"),
              search_fields: renderable_fields,
              params: search_state.params_for_search.except(:qt),
              autocomplete_path: search_action_path(action: :suggest)))  %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="geobl-homepage-masthead bg-gray-300 mb-3">
      <div class="row">
        <div class="col-12 py-5">
          <div class="d-flex justify-content-center">
            <%= content_tag :h1, t("geoblacklight.home.search_heading"), class: "text-center mt-0" %>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-6 col-sm-12">
              <div class="navbar-search">
                <%= render((blacklight_config&.view_config(document_index_view_type)&.search_bar_component ||Blacklight::SearchBarComponent).new(
                url: search_action_url,
                advanced_search_url: search_action_url(action: "advanced_search"),
                search_fields: renderable_fields,
                params: search_state.params_for_search.except(:qt),
                autocomplete_path: search_action_path(action: :suggest))) %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>