<%# Origin: https://github.com/geoblacklight/geoblacklight/blob/v4.4.0/app/views/catalog/_downloads_collapse.html.erb

Overrides GeoBlacklight's view partial _downloads_collapse.html.erb to modify markup and add AZ Bootstrap classes for the dropdown component.
View partial renders the download links for the downloads dropdown.
%>

<% document ||= @document %>

<% if document.direct_download.present? %>
  <% if document.direct_download[:download].is_a? Array %>
    <% document.direct_download[:download].each do |download| %>
      <div class="dropdown-item">
        <%= download_link_file(download['label'], document.id, download['url']) %>
      </div>
    <% end %>
  <% end %>
  <% if document.direct_download[:download].is_a? String %>
    <div class="dropdown-item">
      <%= download_link_file(download_text(document.file_format), document.id, document.direct_download[:download]) %>
    </div>
  <% end %>
<% end %>

<% if document.hgl_download.present? %>
  <div class="dropdown-item">
    <%= download_link_hgl(download_text(document.download_types.first[0]), document) %>
  </div>
<% end %>

<% if document.iiif_download.present? %>
  <div class="dropdown-item">
    <%= download_link_iiif %>
  </div>
<% end %>

<% if document.download_types.present? %>
  <% document.download_types.each do |type| %>
    <div class="dropdown-item">
      <%= download_link_generated(type.first, document) %>
    </div>
  <% end %>
<% end %>