<%# Origin: https://github.com/geoblacklight/geoblacklight/blob/v4.4.0/app/views/catalog/_home_text.html.erb

Overrides GeoBlacklight's view partial _home_text.html.erb to modify base appearance to make it easier to use and more mobile friendly, and
match our branding. View partial renders the home page of the geoportal.

We are commenting out the instutition card for now, since all of our data is currently UA data which makes it redundant and not useful
as a filter (since it's the only option). We can add this back in once we have other data providers than "University of Arizona". Or, we
can select a different field to offer as a filter category.

%>

<div class="row">
  <div class="col-12 col-lg-6">
    <%= content_tag :h2, t('geoblacklight.home.category_heading'), class: 'text-center text-blue' %>
      <%= render(Geoblacklight::HomepageFeatureFacetComponent.new(icon: 'mixed', label: 'geoblacklight.home.data_type', facet_field: Settings.FIELDS.RESOURCE_TYPE, response: @response)) %>
      <%= render(Geoblacklight::HomepageFeatureFacetComponent.new(icon: 'globe', label: 'geoblacklight.home.placename', facet_field: Settings.FIELDS.SPATIAL_COVERAGE, response: @response)) %>
      <%= render(Geoblacklight::HomepageFeatureFacetComponent.new(icon: 'book', label: 'geoblacklight.home.subject', facet_field: Settings.FIELDS.SUBJECT, response: @response)) %>
  </div>
  <div class="col-12 col-lg-6 text-center">
    <%= content_tag :h2, t('geoblacklight.home.map_heading'), class: "text-blue" %>
    <%= content_tag :div, '', id: 'map', aria: { label: t('geoblacklight.map.label') }, data: { map: 'home', 'catalog-path'=> search_catalog_path , 'map-geom' => Settings.HOMEPAGE_MAP_GEOM, basemap: geoblacklight_basemap, leaflet_options: leaflet_options } %>
  </div>
</div>
