<%#
This is an override of the GeoBlacklight (GBL) _home_text.html.erb file.
Blacklight (BL) also has this file, but is overridden by GBL, so we are
overriding based on GBL > BL.

https://github.com/geoblacklight/geoblacklight/blob/main/app/views/catalog/_home_text.html.erb

Adjusts the appearance of the home page components layout to be easier
to navigate, especially on more narrow screen sizes. We are commenting
out the instutition category, since all of our data is currently all
UAZ data, which makes it redundant and not useful as a filter. We can
add this back in once we are further along with data in the project.

%>

<div class="row">
  <div class="col-12 col-lg-6">
    <%= content_tag :h2, t('geoblacklight.home.category_heading'), class: 'text-center text-blue' %>
      <%#= render(Geoblacklight::HomepageFeatureFacetComponent.new(icon: 'home', label: 'geoblacklight.home.institution', facet_field: Settings.FIELDS.PROVIDER, response: @response)) %>

      <%= render(Geoblacklight::HomepageFeatureFacetComponent.new(icon: 'mixed', label: 'geoblacklight.home.data_type', facet_field: Settings.FIELDS.RESOURCE_TYPE, response: @response)) %>

      <%= render(Geoblacklight::HomepageFeatureFacetComponent.new(icon: 'globe', label: 'geoblacklight.home.placename', facet_field: Settings.FIELDS.SPATIAL_COVERAGE, response: @response)) %>

      <%= render(Geoblacklight::HomepageFeatureFacetComponent.new(icon: 'book', label: 'geoblacklight.home.subject', facet_field: Settings.FIELDS.SUBJECT, response: @response)) %>
  </div>
  <div class="col-12 col-lg-6 text-center">
    <%= content_tag :h2, t('geoblacklight.home.map_heading'), class: "text-blue" %>
    <%= content_tag :div, '', id: 'map', aria: { label: t('geoblacklight.map.label') }, data: { map: 'home', 'catalog-path'=> search_catalog_path , 'map-geom' => Settings.HOMEPAGE_MAP_GEOM, basemap: geoblacklight_basemap, leaflet_options: leaflet_options } %>
  </div>
</div>
