<%#  Origin: https://github.com/geoblacklight/geoblacklight/blob/v4.4.0/app/views/catalog/_index_split_default.html.erb

Overrides GeoBlacklight's view partial _index_split_default.html.erb to modify markup and add AZ Bootstrap classes for the dropdown component.
View partial renders individual search result items. Cleans up the UI/UX and makes it more obvious that each search result can be expanded for
a quick snippet about that item.
%>

<% # header bar for doc items in index view -%>
<%= content_tag :div, class: 'documentHeader index-split col-12 pr-0', data: { layer_id: document.id, geom: document.geometry.geojson } do %>
  <div class="d-flex align-items-center w-100">
    <div class="d-flex align-items-center justify-content-between w-100">
      <h3 class="index_title">
        <% counter = document_counter_with_offset(document_counter) %>
        <span class="document-counter">
          <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
        </span>
        <%= link_to_document document, counter: counter, itemprop: "name" %>
      </h3>
      <span class='status-icons'>
        <%= render partial: 'header_icons', locals: { document: document } %>
      </span>
    </div>
    <button
      class="btn bg-gray-100 ml-2"
      data-toggle="collapse"
      data-target="#doc-<%= document.id %>-fields-collapse"
      aria-label="<%= t('geoblacklight.metadata.toggle_summary') %>"
      aria-expanded="false"
      aria-controls="doc-<%= document.id %>-fields-collapse"><span class="material-icons-sharp">unfold_more</span>
    </button>
  </div>
<% end %>

<div class="col-12">
  <div class='more-info-area'>
    <div id="doc-<%= document.id %>-fields-collapse" class='collapse'>
      <small itemprop="description">
        <%= geoblacklight_present(:index_fields_display, document) %>
      </small>
    </div>
  </div>
</div>
